* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;

}

html {
  background-color: magenta;
}
body {
  display: flex;
  color: rgb(255, 0, 255);
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  background-image: url('https://i.pinimg.com/originals/94/c1/77/94c1771022ad27789a6ceb565b02f5e7.jpg');

}

h1 {
  text-align: center; 
}

.container {
  border: 5px solid black;
  padding: 100px;
}

#final {
  display: none;
}
